<h1>Bestätigunsmail für <%= @user.first_name %> <%= @user.last_name %>
</h1>
<p>Bitte loggen Sie sich mit ihrer E-Mail-Adresse und dem dem Passwort <%= @password %> auf der helpUhelp Startseite ein!</p>
