<% if current_user.role.title == "admin" %>

  <div class="form-edit">
    
      <% if @task.errors.any? %>
      <div id="error_explanation_own">
        <h2 id="error-title">Bitte beachten Sie folgende Anforderungen!</h2>

        <ul id="error-message">
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-container">
      <h1>Neue Aufgabe</h1>

      <%= render 'form', task: @task %>

      <%= link_to 'Back', tasks_path %>
    </div>
  </div>

<% else %>
  <p class="notification">
    Diese Seite ist nur dem Admin zugänglich.
  </p>
<%end %>
