<% if current_user.id == @user.id || current_user.role.title == "admin" %>
	<div class="form-edit">
		<% if @user.errors.any? %>
	      <div id="error_explanation_own">
	        <h2 id="error-title">Bitte beachten Sie folgende Anforderungen!</h2>

	        <ul id="error-message">
	        <% @user.errors.full_messages.each do |message| %>
	          <li><%= message %></li>
	        <% end %>
	        </ul>
	      </div>
	    <% end %>
		<div class="form-container">
			<h1>Benutzer bearbeiten</h1>

			<%= render 'form', user: @user %>

			<%= link_to 'Zurück', user_path(@user.id) %>
			<br>
		</div>
	</div>
<% else %>
<p class="notification">
	Du kannst keine Profile von anderen Nutzern ansehen.
</p>
<%end %>
