/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-spacing: 0;
}

//----------------

 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-size:1rem;
 }

.notification{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.navbar{
    background-color: #333232;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-container{
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-ul{
  width: 350px;
  display: flex;
  justify-content: space-between;
}
.navbar-li{
  display: inline;
}
.navbar-li a{
  color: #f0f0f0;
  text-decoration: none;
}
.navbar-li a:hover{
  color: #45ac35;
}

#error_explanation_own {
  min-width: 50%;
}

#error-title {
  background-color: #d62121;
  color: white;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  width:100%;
}

#error-message {
  list-style-type: circle;
  margin: 10px 0 18px 20px;
  color:#333232;
  line-height: 150%;
  font-size:0.9rem;
  width:100%;
}

 textarea {
   resize: none;
}
.select-box-inline{
  display: flex;
  justify-content: center;
}


 .select-box-style select{
   height: 100%;
   text-align: center;
   padding: 5px 8px;
   width: 130%;
   border: none;
   box-shadow: none;
   background: transparent;
   background-image: none;
   -webkit-appearance: none;
 }

 .select-box-style select option{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
 }

 select:focus {
     outline: none;
 }

 label{
   display: flex;
   justify-content: center;
   margin-bottom: 0.2em;
   margin-top: 0.5em;
 }

 input:focus, textarea:focus{
   outline: #45ac35 solid;
 }

 .field{
   width: 70%;
 }

.back-button{
  margin-top: 1em;
  margin-left: 10vw;
}
 .back-button a{
   padding: 0.4em 1em;
   border-radius: 0.3em;
   background-color: #333232;
   color: #f0f0f0;
 }

 input{
   box-shadow: none;
 }
