// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.border{
  padding-top: 1em;
  border-top: 2px solid black;
}

.form-edit #notice{
  margin-top: -30px;
  background-color: #45ac35;
  color: white;
  padding: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 0.3em;
}

.form-description textarea{
  width: 100%;
  height: 15em;
}
.new-task{
  padding-bottom: 2em;
  display: flex;
  justify-content: flex-end;
}
.new-task-button{
  padding: 1em;
  color: #45ac35;
  size: 2em;
  border-color: #333232;
  border-style: solid;
  border-top: none;
  border-width: 2px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.new-task-button:hover{
  background-color: #333232;
}

.tasks-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tasks-page h1{
  margin: 2em 0 1em 0;
}

.tasks-container{
  width: 80vw;
  display: flex;
  flex-direction: column;
}
.task-card * {
  text-decoration: none;
}

.task-card{
  border-radius: 0.3em;
  border-style: solid;
  border-width: 2px;
  width: 15em;
  //padding: 1em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.admin-options{
  display: flex;
  justify-content: space-between;
  //padding-top: 1em;
}
.admin-options * {
  color: black;
}

.task-show-description{
  width: 100%;
  border-top: #333232 0.2em solid;
  padding-top: 1em;
  line-height: 1.4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  word-break: break-word;
}

.task-info{
  padding: 1em;
}

.task-option{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #333232;
  word-break:break-word;
}

.task-option img{
  padding-top: 0.5em;
  margin-right: 0.5em;
  height: 20px;
  width: auto;
}
.task-description{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #333232;
  color: white;
  line-height: 1.4em;
  font-size: 1.4em;
  padding: 0 0.5em 0.5em 0.5em;
  word-break:break-word;
}

.tasks{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-button{
  padding: 0.5em;
  border-color: #333232;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  margin: 0.5em;
}
.card-button:hover{
  background-color: #333232;
}
.card-button:hover *{
  color: #FFFFFF;
}

.i-need-some-space-here{
  padding-top: 3em;
}

.assigned{
  background-color: #ccffcc;
}

.unassigned{
  background-color: #ff9999;
}

.pending{
  background-color: #ffff99;
}
