// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.border{
  padding-top: 1em;
  border-top: 2px solid black;

}
.new-task{
  margin-top: 1em;
  display: flex;
  color: #45ac35;
  //justify-content: flex-end;
}
.tasks-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tasks-page h1{
  margin: 2em 0 1em 0;
}

.tasks-container{
  width: 80vw;
  display: flex;
  flex-direction: column;
}
.task-card * {
  text-decoration: none;
}

.task-card{
  border-radius: 0.3em;
  border-style: solid;
  border-width: 2px;
  width: 15em;
  //padding: 1em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.admin-options{
  display: flex;
  justify-content: space-between;
  //padding-top: 1em;
}
.admin-options * {
  color: black;
}

.info{
}

.info :hover{
  //color: black;
}

.task-show-description{
  width: 100%;
  border-top: #333232 0.2em solid;
}

.task-show-description{
  padding-top: 1em;
  line-height: 1.4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.task-info{
  padding: 1em;
}

.task-option{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #333232;
}

.task-option img{
  padding-top: 0.5em;
  margin-right: 0.5em;
  height: 20px;
  width: auto;
}
.task-description{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #333232;
  color: white;
  line-height: 1.4em;
  font-size: 1.4em;
  padding: 0 0.5em 0.5em 0.5em;
}

.tasks{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-button{
  padding: 0.5em;
  border-color: #333232;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
}
.card-button:hover{
  background-color: #333232;
}
.card-button:hover *{
  color: #FFFFFF;
}

.i-need-some-space-here{
  padding-top: 3em;
}

.assigned{
  background-color: #8fe57b;
}

.unassigned{
  background-color: #f55254;
}

.pending{
  background-color: gold;
}
